@{
    ViewData["Title"] = "Home Page";
}


    <h1 class="display-4">Bienvenido a MSN Encuestas</h1>
    <div class="body-container">
        <div class="Intro">
            <p>
                Bien avanzado el siglo XXI, no es ningún secreto que la amplia difusión de la conectividad genera oportunidades imperdibles para las compañías. Sin embargo, esto también implica
                un desafío: el del correcto posicionamiento de productos y servicios, que no podría lograrse sin la adecuada formulación de una campaña y un discurso publicitario. Para optimizar el
                alcance a las audiencias objetivos, las compañías deben destacarse de la miríada de competidores a los que sus clientes tienen acceso en la esfera de la economia digital.
            </p>

            <p>
                Las compañías pueden, entonces, utilizar esta creciente conectividad no solo para ofrecer sus servicios, sino para <em>aprender</em> cómo hacerlo de una forma diferente y llamativa,
                que genere impacto en sus potenciales consumidores. Y qué mejor forma de descubrir cómo hacerlo, que escuchándolos directamente?
            </p>

            <p>
                MSN Encuestas nace con este objetivo en la mira: el de facilitar el acceso de información de calidad, obtenida directamente de la fuente, a las compañías ávidas de generar un contenido
                publicitario único, humano y preciso que les permita posicionar sus productos y servicios con la certeza de que están apelando a las fibras sensibles de sus consumidores.
            </p>

            <p>
                Por qué tenemos tanta confianza en los resultados de nuestra metodología? Porque todos sabemos el valor económico que los datos de las personas tienen en manos de las  compañias, y
                en consecuencia, los remuneramos por proveernoslos. De esta forma conseguimos recopilar una cuantiosa base de datos con los más diversos perfiles, todos disponibles para responder
                las preguntas que cualquier compañía necesite esclarecer a la hora de diseñar una campaña publicitaria. Cualquier compañía puede escoger a qué tipo de personas apuntar y cuál óptica
                utilizar para conocer sus opiniones, permitiendo una planificación más ágil y menos onerosa. Porque mejor que suponer, es SABER.
            </p>
        </div>

        <div class="menuInicial">
            <p id="Seccion1">Seccion Clientes <a class="text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">CRUD Clientes</a></p>
            <p id="Seccion2">Seccion Encuestas <a class="text-dark" asp-area="" asp-controller="Encuesta" asp-action="Index">CRUD Encuestas</a></p>
            <p id="Seccion3">Seccion Usuarios <a class="text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">CRUD Usuarios</a></p>
        </div>
    </div>
